body > .famous-container {
	background: #222;
	width: 100%;
	/* max-width: 500px; */
	display: inline-block;
}

html, body {
	margin: 0;
	height: 100%;
}

@media (-webkit-min-device-pixel-ratio: 1.3),
       (min-resolution: 124.8dpi),
       (min-resolution: 1.3dppx) {
	body { font-size: 70%; }
}

#screen {
	width: 100%; height: 100%;
	/*max-width: 500px; */
	background: #222;
}

#header {
	min-height: 50px;
	max-height: 150px;
	height: 10%;
	width: 100%;
}

.pageIcon {
	width: 25%; height: 100%;
	text-align: center;
	border-top: 1px solid #4d5e6c;
	border-bottom: 1px solid #324554;
	border-left: 1px solid #112535;
	border-right: 1px solid #112535;
	background: #264055;
	display: inline-block;
	vertical-align: top;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	color: white;
	text-shadow: 0px 1px 3px rgba(0,0,0,.5);
	text-decoration: none;
}

.pageIcon:hover {
	background: #aaa;
}

.pageIcon.active {
	background: #427ba6;
	border-top: 1px solid #94b6d2;
	border-left: 1px solid #366586;
	border-right: 1px solid #366689;
	border-bottom: 1px solid #3d5d76;
}

.pageIcon.con-connected { background: #2F6D2F; }
.pageIcon.con-connecting { background: #550; }


.famous-pageIcon {
	display: block;
	width: 100%;
	height: 100%;
	background: #888;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	border: 1px solid black;
}

.alert {
	color: black;
	background: white;
	border-bottom: 1px solid black;
}

.alert table td { padding: 10px; } 
.alert td:nth-child(2) span:not(:last-child):after { content: ", "; }